* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.RouletteParent {
  height: 300px;
  max-height: 50vh;
  width: 90vw;
  border: solid 1px white;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.RouletteParent.shiftUp {
  transform: translateY(-300px);
}
.RouletteTrack { 
  position: relative;
  height: 100%;
}
.RouletteItem {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(var(--x, 0px));
  width: 300px;
  height: 80%;
  padding: 1rem;
  border: 1px solid;
  will-change: transform;
}
.RouletteItemInside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 21px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.RouletteDivider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%), translateY(-50%);
  border: 1px solid white;
  height: 500px;
}
.startRoulette{
  background-color: black;
  border: solid 3px green;
  color: white;
  width: 200px;
  height: 100px;
  cursor: pointer;
}
.startRoulette.shiftUp {
  transform: translateY(-300px);
}
.answerParent{
  visibility: collapse;
  width: 90vw;
  height: 500px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answerParent.vis {
  visibility: visible;
}
.answerBox{
  width: 90%;
  height: 65%;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.answerQuestion{
  padding: 30px;
  font-size: 40px;
  text-align: center;
}
.answer{
  height: 100px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: auto;
  cursor: pointer;
  border: solid 1px white;
}
.answer.correct{
  border: solid 1px green;
}
.answer.incorrect{
  border: solid 1px red;
}