* {
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.RouletteParent {
  height: 300px;
  max-height: 50vh;
  width: 90vw;
  border: solid 1px white;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.RouletteTrack { 
  display: flex; 
  flex-wrap: nowrap; 
}
.RouletteItem {
  padding: 1rem;
  flex-shrink: 0;
  height: 80%;
  width: 300px;
  cursor: pointer;
  border: 1px solid;
  margin: 0 20px;
  will-change: transform;
}
.RouletteItemInside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 21px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.startRoulette{
  background-color: black;
  border: solid 3px green;
  color: white;
  width: 200px;
  height: 100px;
  cursor: pointer;
}